<div class="container">
	<h1>Catálogo</h1>
	<h3><a href="/catalogo" class="active list-group-item colecciones">Todas las categorías</a>
		{{#each data.categories }}
		<a href="{{categoryUrl key}}" class="false list-group-item colecciones"> - {{name}}</a>
		{{/each}}</h3>
</div>
<div class="gallery margin">
	{{#each data.posts}}
	<div>
	<div class="gallery-item hidden" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
		{{#if image}}<img src="/uploads/files/{{{this.image.filename}}}" class="gallery-image">{{/if}}
	</div>
    <h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>	
    </div>
	{{/each}}
	
</div>