<div class="limite">
<div id="slider" class="slider-pro">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/banner1.jpg" data-src="/img/banner1.jpg" data-retina="/img/banner1.jpg" />
        </div>
    </div>
    {{!-- <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/CAL_bannerweb.gif" data-src="/img/CAL_bannerweb.gif" data-retina="/img/CAL_bannerweb.gif" />
        </div>
    </div> --}}
     <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/bannercaride.jpg" data-src="/img/bannercaride.jpg" data-retina="/img/bannercaride.jpg" />
        </div>
    </div>
     <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/bannerfavio.jpg" data-src="/img/bannerfavio.jpg" data-retina="/img/bannerfavio.jpg" />
        </div>
    </div>
     <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/bannermargara.jpg" data-src="/img/bannermargara.jpg" data-retina="/img/bannermargara.jpg" />
        </div>
    </div>
</div>
</div>


<a href="catalogo">
    <h1 class="margin title">Catálogo</span></h1>
</a>
<div class="container limite">

    <div class="gallery margin">
        {{#each data.posts}}
        <div>
           <a href="{{postUrl slug}}"> <div class="gallery-item hidden"
                data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
                {{#if image}}<img src="/uploads/files/{{{this.image.filename}}}" class="gallery-image">{{/if}}
            </div>
            <h2>{{{title}}}</h2>
        </div></a>
        {{/each}}
    </div>
    <a href="catalogo">
        <h3 class="margin">Ver Más</h3>
    </a>
</div>

<a href="autores">
    <h1 class="margin title">Autores</h1>
</a>

<ul class="margin authorsgallery limite">
    {{#if data.autor}}
    {{#each data.autor}}
    <li class="eachpic hidden">
        <img class="authors" src="/uploads/files/{{image.filename}}">
        <div class="pictext underlined underlined--offset">
            <p><a href="/autor/{{autorUrl slug}}"> {{{name}}}</a></p>
        </div>
    </li>
    {{/each}}
    {{/if}}

    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
</ul>
<img id="cal" class="sp-image" src="/img/CAL_bannerweb.gif" style="margin: 0 auto;"/>
<img id="calresp" class="sp-image" src="/img/CAL_responsive.png" style="margin: 0 auto; "/>

