<div id="slider" class="slider-pro">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="/img/banner1.jpg" data-src="/img/banner1.jpg" data-retina="/img/banner1.jpg" />
        </div>
    </div>
</div>

<a href="catalogo">
    <h1 class="margin title">Catálogo</span></h1>
</a>
<div class="container">

    <div class="gallery margin">
        {{#each data.posts}}
        <div>
            <div class="gallery-item hidden"
                data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
                {{#if image}}<img src="/uploads/files/{{{this.image.filename}}}" class="gallery-image">{{/if}}
            </div>
            <h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
        </div>
        {{/each}}
    </div>
    <a href="catalogo">
        <h3 class="margin">Ver Más</h3>
    </a>
</div>

<a href="autores">
    <h1 class="margin title">Autores</h1>
</a>

<ul class="margin authorsgallery">
    {{#if data.autor}}
    {{#each data.autor}}
    <li class="eachpic hidden">
        <img class="authors" src="/uploads/files/{{image.filename}}">
        <div class="pictext underlined underlined--offset">
            <p><a href="/autor/{{autorUrl slug}}"> {{{name}}}</a></p>
        </div>
    </li>
    {{/each}}
    {{/if}}

    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
</ul>