
	{{#if data.post}}
	
	<div class="card-flex ">
		
		<img class="puff-in-center biopic" src="/uploads/files/{{{data.post.image.filename}}}">
		<div class="fade-in rese침a">
			<h4 class="titulo">
			{{{data.post.title}}} <br>
			de {{{data.post.author}}}

			<h3>
				{{{data.post.pvp}}}
			</h3>

		</h3>
			<p >
				{{{data.post.rese침a.extendida}}}

			</p>
			<div>
				ISBN: {{data.post.ficha.ISBN}} <br/>
				{{data.post.ficha.cubierta}}, 
				{{data.post.ficha.formato}}, 
				{{data.post.ficha.paginas}} p치ginas. <br>
				
					Pr칩logo: {{data.post.ficha.autorPrologo}}
				

			</div>
			<div>
				<a href="{{data.post.ebook}}">Google Books</a>
			</div>
		</div>
	</div>
	
	{{/if}}
