<ul class="margin authorsgallery">
	{{#if data.post}}
	
	<div class="card-flex ">
		
		<img class="puff-in-center biopic" src="/uploads/files/{{{data.post.image.filename}}}">
		<div class="fade-in margin reseña">
			<h1 class="titulo">
			{{{data.post.title}}}
		</h1>
			<p >
				{{{data.post.reseña.extendida}}}
			</p>
			<div>
				Formato: {{data.post.ficha.formato}}<br>
				Páginas: {{data.post.ficha.paginas}}

			</div>
		</div>
	</div>
	
	{{/if}}
</ul>